/* Your existing CSS styles */
@font-face {
  font-family: "Gamer";
  src: url(Gamer.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Gamer";
  src: url(Gamer-Bold.ttf) format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Game";
  src: url(Gamer.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Promena fonta */
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, #f2f2f2, #ff8c00); /* Siva pozadina koja prelazi u narandžastu */
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #928374; /* Bela pozadina unutar kontejnera */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.header {
  text-align: center;
  margin-bottom: 30px;
}

.name {
  font-family: "Gamer", Arial, sans-serif;
  color: #f1c40f; /* Žuta boja za ime */
}

.contact p {
  color: #7c6f64; /* Narandžasta boja za kontakt informacije */
}

.section h2 {
  border-bottom: 2px solid #f1c40f; /* Žuta boja za donju liniju naslova */
  padding-bottom: 5px;
  margin-bottom: 10px;
  color: #d65d0e; /* Žuta boja za naslove sekcija */
}

.section p, .section ul {
  color: #7c6f64; /* Narandžasta boja za običan tekst */
}

/* New CSS styles for the button */
.main {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.up {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

.down {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

.card1 {
  width: 90px;
  height: 90px;
  outline: none;
  border: none;
  background: white;
  border-radius: 90px 5px 5px 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: 0.2s ease-in-out;
}

.whatsapp {
  margin-top: 1.5em;
  margin-left: 1.2em;
  fill: #00ff00;
}

.card2 {
  width: 90px;
  height: 90px;
  outline: none;
  border: none;
  background: white;
  border-radius: 5px 90px 5px 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: 0.2s ease-in-out;
}

.linkedin {
  margin-top: 1.5em;
  margin-left: -0.9em;
  fill: #0077b5;
}

.card3 {
  width: 90px;
  height: 90px;
  outline: none;
  border: none;
  background: white;
  border-radius: 5px 5px 5px 90px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: 0.2s ease-in-out;
}

.github {
  margin-top: -0.6em;
  margin-left: 1.2em;
}

.card4 {
  width: 90px;
  height: 90px;
  outline: none;
  border: none;
  background: white;
  border-radius: 5px 5px 90px 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: 0.2s ease-in-out;
}

.discord {
  margin-top: -0.9em;
  margin-left: -1.2em;
  fill: #8c9eff;
}

.card1:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #00ff00;
}

.card1:hover .whatsapp {
  fill: white;
}

.card2:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #0077b5;
}

.card2:hover .linkedin {
  fill: white;
}

.card3:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: black;
}

.card3:hover .github {
  fill: white;
}

.card4:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #8c9eff;
}

.card4:hover .discord {
  fill: white;
}

.card {
  width: 260px;
  background-color: #232323;
  border: 1px solid #82904f;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  bottom: 5px; /* Postavite udaljenost od dna prozora */
  right: 20px;
}

.chat-header {
  background-color: #2b2828;
  color: #ff6660;
  padding: 10px;
  font-size: 18px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.chat-window {
  height: 220px;
  overflow-y: scroll;
}

.hide {
  display: none;
}

.message-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.chat-input {
  display: flex;
  align-items: center;
  padding: 10px;
  border-top: 1px solid #ccc;
}

.message-input {
  flex: 1;
  border: none;
  outline: none;
  padding: 5px;
  font-size: 14px;
}

.send-button {
  border: none;
  outline: none;
  background-color: #2b2828;
  color: #fff;
  font-size: 14px;
  padding: 5px 10px;
  cursor: pointer;
}

.send-button:hover {
  background-color: #82904f;
  color: rgb(0, 0, 0);
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}

.navbar {
  background-color: #3b3533; /* Boja pozadine navigacijske trake */
  padding: 10px; /* Unutrašnji razmak navigacijske trake */
  text-align: right; /* Poravnavanje sadržaja na desno */
  border: 3px solid #57504d;
  border-top: none;
  border-left: none;
  border-right: none;
}

/* Stilovi za "info" dugme */
.cursor-pointer {
  font-family:"Gamer", Arial, sans-serif;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
}

.transition-all {
  transition: all 0.3s ease;
}

.bg-blue-500 {
  background-color: #f7e6bb;
}

.text-white {
  color: #232323;
}

.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.rounded-lg {
  border-radius: 0.5rem;
}






  